<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <!-- Telecom Manager -->
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <!-- 発信 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 通話アカウントへのアクセス -->
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" android:minSdkVersion="31"/>
    <!-- 通話状態 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- バイブレーション -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- フォアグラウンドサービス -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 全画面表示インテント -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:name=".CallingApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidCallingSampleApp"
        tools:targetApi="31">

        <!-- MainActivity -->
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidCallingSampleApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.IncomingCallActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="tel" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.OutgoingCallActivity"
            android:label="@string/app_name"
            android:exported="true">
        </activity>

        <!-- Push通知 -->
        <service
            android:name=".service.CallingMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- 通話状態を管理 -->
        <service
            android:name=".service.TelecomConnectionService"
            android:exported="true"
            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService" />
            </intent-filter>
        </service>
    </application>

</manifest>